/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
    color: #000; 
}

.main-content {
    padding: 50px 20px 0 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 150px);
    height: calc(100vh - 60px);
    margin-left: 150px;
}
.main-content h1 {
    display: flex;
    gap: 0.9rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #e1dddd; 
}

h2.guests {
    color: #d32f2f; /* Red */
    border-bottom: 1px solid #d32f2f; 
    margin-bottom: 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #d32f2f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b71c1c;
}
.add-btn {
    max-width: 150px;
}

.btn-danger {
    background-color: #b71c1c; 
}

.btn-danger:hover {
    background-color: #d32f2f; 
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.action-links {
    white-space: nowrap; 
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-content {
        padding: 10px;
    }
    table th, table td {
        padding: 8px;
    }
}

.search-container {
    display: inline-block;
    align-items: center;
}

.search-container input[type=text] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2px;
}

.search-container .btn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-container .btn:hover {
    background-color: #b71c1c;
}