.header {
    font-family: "Poppins" , sans-serif;
    width: 100%;
    height: 60px;
    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    color: #fff;
    padding: 0 5px;
    box-sizing: border-box;
    font-size:10.5px;
}

.header .title {
    margin-left: 20px;
    color: #f2f2f2;
    font-weight: bold; /* Bold font weight for emphasis */
}

.header .user-menu {
    position: relative;
    display: inline-block;
    padding-right: 20px;

}

.header .user-menu .user-icon {
    cursor: pointer;
    font-size: 1.2rem; 

}

.header .user-menu .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
}

.header .user-menu:hover .dropdown-content {
    display: block;
}

.header .user-menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .user-menu .dropdown-content a:hover {
    background-color: #f1f1f1;
}
